version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: telemetria_backend
    depends_on:
      - postgres
    ports:
      - "3000:3000"
    environment:
      DB_USER: postgres
      DB_PASSWORD: root
      DB_NAME: postgres
      DB_HOST: postgres
      DB_PORT: 5432
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  postgres_data:
